body{
    margin: auto;
}

header{
    top: 0px;
    position: sticky;
    width: 100%;
    height: 6rem;
    background-color: lightblue;
}

/* Navigation1 */
.nav1{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
/* .header{
} */
.logo{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: cyan;
    text-shadow: 1px 1px 1px black;
    align-items: start;
}

.logo img{
    width: 10rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.search{
    /* width: 250px; */
    /* padding-top: 20px; */
    /* padding-bottom: 15px; */
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}

#value{
    width: 250px;
    height: 30px;
    border-radius: 5px;
}

#value2{
    height: 30px;
}

.info{
    margin-left: 10%;
    float: right;
    padding-top: 20px;
    color: white;
    text-shadow: 1px 1px 1px black;
}

#text1{
    border: 1px solid black;
    color: white;
    border-radius: 15px;
    text-shadow: 1px 1px 1px black;
    text-align: center;
    height: 36px;
    background-color: darkmagenta;
}

.login{
    width: 10%;
    margin-left: 5%;
}

.login a{
    color: magenta;
    text-decoration: none;
}

.login-user{
    background-color: darkblue;
    color: white;
    border-radius: 5px;
    padding: 7px;
    width: 85px;
}

/* Navigation2 */

.move{
    padding-left: 20px;
}

.navbar a{
    margin-right: 20px;
}

.contents{
    text-align: center;
}
#c-1{
    text-decoration: none;
    padding-right: 32px;
    padding-left: 24px;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    border-right: 1px solid black;
    text-align: center;
    font-size: 20px;
    text-align: center;
}
#c-1:hover{
    text-shadow: 1px 1px 1px black;
    border: 1px solid black;
    background-color: lightgray;
    color: white;
}

/* Hover box */

.contents select{
    text-align: center;
    font-size: 20px;
    text-align: center;
    text-align: center;
    line-height: 0;
    border: none !important;
    background-color: aqua;
}
.contents select:hover{
    text-shadow: 1px 1px 1px black;
    border: 1px solid black;
    background-color: lightgray;
    color: white;
}
#box{
    opacity: 0;
}
#box:hover{
    opacity: 100;
}

.content-1 img{
    width: 100%;
}

.content-1-2{
    display: flex;
    width: 100%;
    height: 180px;
    background-color: darkblue;
    text-align: center;
}

.box-1{
    margin-top: 30px;
    color: white;
    padding-left: 50px;
    width: 260px;
    height: 150px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.box-1 .material-symbols-outlined{
    font-size: 50px;
}

.s-size{
    font-size: 25px;
}

.box-1 img{
    width: 50px;
}

.box-1-inner-1{
    padding-top: 60px;
}

.container2{
    height: 350px;
    margin-top: 70px;
}

.head1{
    margin-top: 45px;
    text-align: center;
    text-shadow: 1px 1px 1px rgb(255, 65, 65);
    color: red;
}

.content-2{
    margin-left: 200px;
    float: left;
    clear: right;
}

.p-1{
    color: brown;
    float: right;
    margin-left: 20px;
    font-size: 25px;
    width: 390px;
}

.container-2{
    margin-left: 40px;
}

.head2{
    color: darkgreen;
}

.content-3{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
}

.content-boxes{
    display: flex;
    text-align: center;
    padding-left: 20px;
}

.content-box1{
    border: 1px solid gray;
    width: 300px;
    margin-right: 5px;
    padding-bottom: 10px;
}

.content-box1 .material-symbols-outlined{
    padding-top: 20px;
}

.content-box1 img{
    padding-top: 20px;
    padding-bottom: 20px;
}
.size{
    font-size: 70px !important;
}

.p-size{
    margin-top: 40px;
    width: 270px;
    font-size: 14px;
    padding-bottom: 10px;
}

.new-align{
    margin-top: 26px;
}

.container-3{
    text-align: center;
    height: 450px;
    color: brown;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.c-3-box{
    display: flex;
}
.container-3 h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: darkcyan;
}

.container-3 .content{
    border: 1px solid gray;
    border-radius: 20px;
    box-shadow: 5px 5px 10px darkgray;
    background-color: aliceblue;
    width: 200px;
    height: 140px;
    margin-left: 18px;
    margin-top: 20px;
}

.s-size2{
    width: 50px
}


footer{
    background-color: darkblue;
    height: 360px;
}

.container-4{
    padding-top: 45px;
    margin-left: 90px;
    display: flex;
}


.head3{
    color: white;
}

.container-4 span{
    margin-top: 5px;
    color: white;
}

.address{
    width: 380px;
    color: white;
}

.call-icon{
    background-color: white;
    width: 30px;
}
.phone{
    font-size: 15px;
}

.media i{
    cursor: pointer;
    font-size: 22px;
    margin-left: 10px;
    margin-top: 20px;
}

.content-box3{
    margin-left: 120px;
}

.inner-content{
    margin-left: 10px;
    color: aliceblue;
}
.inner-content a{
    text-decoration: none;
    color: aliceblue;
}


/* Login page styles */
.mainContainer{
    margin-left: 14%;
    margin-top: 100px;
    padding-bottom: 100px;
    height: 400px;
    width: 400px;
}
.mainContainer fieldset{
    border: 1px solid black;
    border-radius: 15px;
    padding: 20px;
    padding-top: 20px;
}

.mainContainer input{
    border-radius: 5px;
}
.input-width{
    width: 100%;
    padding: 10px;
    background-color: lightskyblue;
}

.info-content a{
    float: right;
}

.align-top{
    margin-top: 12px;
}
.input-top{
    margin-top: 5px;
}
.align-me{
    margin-right: 5px;
}

.register-box{
    height: 345px;
    overflow-y: scroll;
    margin-top: 100px;
    margin-left: 6%;
}
.form2{
    width: 500px;
}

.form2 fieldset{
    border: 1px solid black;
    border-radius: 15px;
    padding: 20px;
}

.show{
    display: flex;
}

.input-color{
    background-color: darkmagenta;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    text-shadow: 1px 1px 1px black;
}

.input-color:hover{
    background-color: magenta;
    color: yellow;
}

/* Next */
.carrer-content{
    margin-left: 70px;
    margin-top: 80px;
    width: 300px;
    height: 200px;
}

.cr-flex i{
    font-size: 40px;
    padding-bottom: 4%;
}

.span-1{
    font-size: 30px;
    font-weight: bolder;
}

.cr-flex{
    display: flex;
}
.cr-1{
    display: block;
    text-align: center;
}

.carrer-content2{
    margin-left: 22%;
    margin-top: 80px;
    width: 420px;
    height: 200px;
}

.carrer-center{
    color: darkmagenta;
    text-shadow: 1px 1px 1px black;
    font-weight: bolder;
    margin-top: 240px;
    text-align: center;
    margin-left: 9%;
    clear: both;
}
.middle-1{
    font-size: 40px;
}

.middle-2{
    font-size: 90px;
    margin-top: 220px;
}

.cr-2{
    padding: 40px;
}
.cr-head{
    font-size: 30px;
    font-weight: bolder;
    color: deeppink;
}

.cr-body{
    width: 40rem;
}

.cr-right{
    float: right;
}

.cr-2 img{
    width: 30%;
}

.img1{
    float: right;
}

.cr-2-1{
    clear: both;
}


/* Carrer Section */
.courses-container{
    margin-top: 50px;
}

.courses-container h3{
    text-align: center;
}

.courses-container a{
    text-decoration: none;
}

.courses-container hr{
    width: 280px;
    border-top: dashed;
    border-width: 1px
}

.courses{
    display: flex;
    justify-content: center;
    width: 55.5%;
    padding: 3%;
    margin-left: 22%;
    border: 1px solid black;
}

.inner-course{
    margin-top: 80px;
}

.coding-courses{
    margin-left: 15px;
}

/* Gim Course  */
.gim-container{
    margin-top: 50px;
    text-align: center;
}

.gim-container .content{
    display: flex;
}

.gim-image1{
    width: 50%;
}

.gim-image2{
    width: 40%;
}

.content-gim-1{
    margin-left: 15%;
    padding-right: 5%;
    border-right: 1px solid black;
}

.content-gim-2{
    padding-left: 5%;
}

/* Contact */
.contact-container h2{
    text-align: center;
}

.contact-content{
    width: 420px;
    margin-top: 25px;
    font-size: 20px;
    margin-left: 460px;
    padding: 20px;
    margin-right: auto;
    border: 1px solid black;
}

#btn1{
    width: 100%;
}

/* About */
.about-container{
    display: flex;
}

.about-content{
    padding-left: 20px;
    background-color: black;
    color: gold;
}

.about-info p{
    width: 200px;
}

.about-container-qi{
    margin: 15px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
}
.about-container2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.about-info-t{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.about-overflow{
    overflow-y: scroll;
    height: 223px;
}

.about-box{
    border: 1px solid black;
    margin: 15px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.about-box img{
    height: 170px;
}

.para1{
    width: 100%;
}