 <footer>
    <div class="container-4">
        <div class="content-box2">
            <h3 class="head3">Connect with us</h3>
            <span class="material-symbols-outlined">
                mail 
            </span> 
            <span>allindiainstitute@gmail.com</span>
            <br><br>
            <p class="address">
                <i class="fa-solid fa-location-dot"></i> 
                <span> Upstairs Tapi Medical, Modi Mohalla, Ashwini Kumar Rd, Gaushala, Surat, Gujarat 395008</span>
            </p>
            <span>
                <span class="material-symbols-outlined">
                    call
                </span> : 
            </span>
            <span class="phone">+91 72188-83291</span>
            <br>
                <div class="media">
                        <span><i class="fa-brands fa-facebook-f"></i></span>
                        <span><i class="fa-brands fa-x-twitter"></i></span>
                        <span><i class="fa-brands fa-instagram"></i></span>
                        <span><i class="fa-brands fa-linkedin"></i></span>
                        <span><i class="fa-brands fa-youtube"></i></span>
                    </div>
                </div>
                <div class="content-box3">
                    <h3 class="head3">Trending Course</h3>
                    <div class="inner-content">
                        <div class="1-content"><li><a href="/gim-course">GIM</a></li></div>
                        <div class="1-content"><li><a href="#">ITA-CS+</a></li></div>
                        <div class="1-content"><li><a href="#">PHP</a></li></div>
                        <div class="1-content"><li><a href="#">Project Training Surat</a></li></div>
                        <div class="1-content"><li><a href="#">Android Training Course</a></li></div>
                        <div class="1-content"><li><a href="#">Web Designing Training Course</a></li></div>
                        <div class="1-content"><li><a href="#">Full Stack Development Course</a></li></div>
                    </div>
                </div>
                <div class="content-box3">
                    <h3 class="head3">After 12th</h3>
                    <div class="inner-content">
                        <div class="1-content"><li><a href="#">MII</a></li></div>
                        <div class="1-content"><li><a href="#">B.MAT ( Business Management Account & Technology)</a></li></div>
                    </div>
            </div>
        </footer>        
    