<header>
  <div class="header">
    <nav class="nav1">
      <div class="logo">
        <img
          src="image/All_India_Institute.png"
          alt="All_India_Institute"
          width="200px"
        />
      </div> 
      <form class="form-inline my-2 my-lg-0 search">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
      <!-- <form action="" class="search">
        <input
          type="search"
          name="search"
          id="value"
          placeholder="Search to get Information"
        /> -->
        <!-- <button type="submit" id="value2">Search</button> -->
      </form>
      <span class="info"
        >Info for :
        <select name="future students" id="text1">
          <option value="Future Students">Future Students</option>
          <option value="Business & Industry">Business & Industry</option>
          <option value="Current Students">Current Students</option>
          <option value="Staff">Staff</option>
        </select>
      </span>
      <span class="login">
        <a href="/login">Login</a>
      </span>
      <!-- <span class="login">
                  <a href="allindiainstitute"></a><option value="Login"> Login </option></a>
                    <select name="login-user" class="login-user">
                        <option value="All India Student Portal">All India Student Portal</option>
                        <option value="Staff Email">Staff Email</option>
                        <option value="Create New Account">Create New Account</option>
                        <option value="Forgot Password">Forgot Password</option>
                    </select>
                  </span>-->
    </nav>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" href="/home">Home</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#">What after 12th </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Career</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Student Corner</a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdownMenuLink"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Courses
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">Expert Courses</a>
              <a class="dropdown-item" href="#">Progromming Oriented</a>
              <a class="dropdown-item" href="#">Design Courses</a>
              <a class="dropdown-item" href="#">Short Courses</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
