<% layout("/layout/boilerplate.ejs") %>
<br><br>
<div class="about-container">
    <img src="image/images.png">
    <div class="about-content">
        <h3>About</h3> 
        <h4>All India Institute in A K Road, Surat</h4>
        
        <p>Computer is one of the best inventions in the world. Computers occupy an
            important place in every workplace or educational institution. People 
            can execute numerous business tasks and connect to the internet, 
            thanks to computers. Therefore, having computer skills is just as 
            crucial as having a degree. Computer Training Institutes in Surat have
            been helping people get more skilled in using computers with their 
            various courses.
        </p>
        <p>If you wish to get trained or advance your computer skills, you should 
            get in touch with All India Institute in A K Road, Surat.
        </p>
    </div>
</div>
<div class="about-container-qi">
    <h4>Quick Information</h4>
    <div class="about-container2">
        <div class="about-info">
            <span>Business summary</span>
            <p><b>Coaching Centre providing preparation for exams like JEE, NEET</b></p>
        </div>
        <div class="about-info">
            <span>Year Of Establishment</span>
            <p><b>2011</b></p>
        </div>
        <div class="about-info">
            <div class="about-info-t">
                <span><b>Timings</b></span><br>
                <span><b>Mon - Sat</b></span><span>9:00 am - 9:00 pm</span>
            </div>
            <div class="about-info-t">
                <span><b>Sun</b></span> <span>Closed - Closed</span>
            </div>
        </div>
    </div>
</div>
<div class="about-container-qi">
    <div class="about-container2 about-overflow">
        <div class="about-info">
            <h5>Courses Taught</h5>
            <p><i class="fa-solid fa-circle-check" style="color: #00ff11;" aria-hidden="true"></i> <b>Accounting</b></p>
            <p><i class="fa-solid fa-circle-check" style="color: #00ff11;" aria-hidden="true"></i> <b>Advanced Java</b></p>
            <p><i class="fa-solid fa-circle-check" style="color: #00ff11;" aria-hidden="true"></i> <b>Android</b></p>
            <p><i class="fa-solid fa-circle-check" style="color: #00ff11;" aria-hidden="true"></i> <b>Android App Development</b></p>
            <p><i class="fa-solid fa-circle-check" style="color: #00ff11;" aria-hidden="true"></i> <b>Basic Computers</b></p>
            <p><i class="fa-solid fa-circle-check" style="color: #00ff11;" aria-hidden="true"></i> <b>C Programming</b></p>
            <p><i class="fa-solid fa-circle-check" style="color: #00ff11;" aria-hidden="true"></i> <b>C++ Programming</b></p>
            <p><i class="fa-solid fa-circle-check" style="color: #00ff11;" aria-hidden="true"></i> <b>CCC</b></p>
            <p><i class="fa-solid fa-circle-check" style="color: #00ff11;" aria-hidden="true"></i> <b>CCC NIELIT</b></p>
            <p><i class="fa-solid fa-circle-check" style="color: #00ff11;" aria-hidden="true"></i> <b>Data Entry</b></p>
            <p><i class="fa-solid fa-circle-check" style="color: #00ff11;" aria-hidden="true"></i> <b>Digital Marketing</b></p>
            <p><i class="fa-solid fa-circle-check" style="color: #00ff11;" aria-hidden="true"></i> <b>HTML</b></p>
            <p><i class="fa-solid fa-circle-check" style="color: #00ff11;" aria-hidden="true"></i> <b>Java</b></p>
            <p><i class="fa-solid fa-circle-check" style="color: #00ff11;" aria-hidden="true"></i> <b>Java++</b></p>
            <p><i class="fa-solid fa-circle-check" style="color: #00ff11;" aria-hidden="true"></i> <b>Microsoft Excel Advanced</b></p>
            <p><i class="fa-solid fa-circle-check" style="color: #00ff11;" aria-hidden="true"></i> <b>Mobile Phone Application</b></p>
            <p><i class="fa-solid fa-circle-check" style="color: #00ff11;" aria-hidden="true"></i> <b>MS Excel</b></p>
            <p><i class="fa-solid fa-circle-check" style="color: #00ff11;" aria-hidden="true"></i> <b>MS Office</b></p>
            <p><i class="fa-solid fa-circle-check" style="color: #00ff11;" aria-hidden="true"></i> <b>Programming</b></p>
            <p><i class="fa-solid fa-circle-check" style="color: #00ff11;" aria-hidden="true"></i> <b>Programming Languages</b></p>
            <p><i class="fa-solid fa-circle-check" style="color: #00ff11;" aria-hidden="true"></i> <b>SQLite Android</b></p>
            <p><i class="fa-solid fa-circle-check" style="color: #00ff11;" aria-hidden="true"></i> <b>Tally</b></p>
            <p><i class="fa-solid fa-circle-check" style="color: #00ff11;" aria-hidden="true"></i> <b>Web Designing</b></p>
            <p><i class="fa-solid fa-circle-check" style="color: #00ff11;" aria-hidden="true"></i> <b>Web Development</b></p>
            <p><i class="fa-solid fa-circle-check" style="color: #00ff11;" aria-hidden="true"></i> <b>Website Designing</b></p>
            <p><i class="fa-solid fa-circle-check" style="color: #00ff11;" aria-hidden="true"></i> <b>WordPress</b></p>
        </div>
        <div class="about-info">
            <h5>Classes For</h5>
            <p><i class="fa-solid fa-circle-check" style="color: #00ff11;" aria-hidden="true"></i> <b>IT</b></p>
            
            <h5>Training Type</h5>
            <div class="about-container2">
                <p><i class="fa-solid fa-circle-check" style="color: #00ff11;" aria-hidden="true"></i> <b>Computer Training</b></p>
                <p><i class="fa-solid fa-circle-check" style="color: #00ff11;" aria-hidden="true"></i> <b>Institute</b></p>
                <p><i class="fa-solid fa-circle-check" style="color: #00ff11;" aria-hidden="true"></i> <b>Training Institute</b></p>
            </div>

            <h5>Mode of Instruction</h5>
            <div class="about-container2">
                <p><i class="fa-solid fa-circle-check" style="color: #00ff11;" aria-hidden="true"></i> <b>Online</b></p>
                <p><i class="fa-solid fa-circle-check" style="color: #00ff11;" aria-hidden="true"></i> <b>Offline</b></p>
            </div>

            <h5>Exams Assisted</h5>
            <div class="about-container2">
                <p><i class="fa-solid fa-circle-check" style="color: #00ff11;" aria-hidden="true"></i> <b>JEE</b></p>
                <p><i class="fa-solid fa-circle-check" style="color: #00ff11;" aria-hidden="true"></i> <b>NEET</b></p>
            </div>
        </div>
        <div class="about-info">
            <h5>School Curricullum Assisted</h5>
            <p><i class="fa-solid fa-circle-check" style="color: #00ff11;" aria-hidden="true"></i> <b>CBSE</b></p>

            <h5>Coaching Type</h5>
            <div class="about-container2">
                <p><i class="fa-solid fa-circle-check" style="color: #00ff11;" aria-hidden="true"></i> <b>Online Classes</b></p>
            </div>
            <h5>Facilities</h5>
            <div class="about-container2">
                <p><i class="fa-solid fa-circle-check" style="color: #00ff11;" aria-hidden="true"></i> <b>Doubt Sessions</b></p>
            </div>
        </div>
        </div>
    </div>
</div>

<h3 style="text-align: center;">Why Choose All India Institute</h3><br>
<div class="about-box">
    <div class="about-box1">
        <img src="image/job.jpg">
        <p><b>100% Job Placement</b></p>
        <p class="para1">Job fairs, campus placement drives, etc. conducted regularly for students to get job placements on successful course completion</p>        
    </div>
    <div class="about-box2">
        <img src="image/life-time.jpg" style="border-radius: 50%;">
        <p><b>Life Time Support</b></p>
    </div>
    <div class="about-box3">
        <img src="image/faculty.jpg">
        <p><b>Experienced Faculty</b></p>
        <p class="para1">Take advantage of our active community of instructors to help you through your course creation process.</p>
    </div>
    <div class="about-box4">
        <img src="image/life-time-study.jpg" style="border-radius: 50%;">
        <p><b>Life Time Study Support</b></p>
    </div>
</div>
        
