<% layout("/layout/boilerplate.ejs") %>
<br><br>
<div class="android-main">
    <img src="image/1android.jpg" height="250px" width="100%">
    <div class="android-container">
        <div class="android-content">
            <h3>About Android Course</h3>
            The core of our advanced Android program is Android App Development. 
            In order to help you create superb applications, this course 
            combines theory and practice. You are going to learn the best 
            practices for mobile development, specifically for Android 
            development, and construct a cloud-connected app for Android with 
            the help of the experts in this course. If you are interested, you 
            can also check out Web Development Courses in Surat. We are the 
            leading institute in Surat for website developing course.
            <div class="android-data">
                <span>
                    Course Duration <b>12 Months</b>
                </span>
                <span class="span2">
                    Daily Time <b>2 Hours</b>
                </span>
            </div><br>
            <div class="android-data2">
                <h5>Included In This Course</h5>
                <p><i class="fa-solid fa-check"></i> Job Support</p>
                <p><i class="fa-solid fa-check"></i> Rich Learning Content</p>
                <p><i class="fa-solid fa-check"></i> Taught by Experienced Prof.</p>
                <p><i class="fa-solid fa-check"></i> Industry Oriented Projects</p>
            </div>
            <div class="course-modules">
                <h5>Course Modules</h5>
            </div>
            <div class="program-a">
                <a href="#program-click">Programming Foundation</a>
                <a href="">Core Android</a>
                <a href="">Advance Android</a>
                <a href="">Aso & Earning & PHP API</a>
            </div>
            <div class="course-modules-details">
                <div class="course-program" id="program-click">
                    <h5>Programming Foundation</h5>
                    <ul>
                        <li id="li1">C Language</li>
                        <li>Intro. of C.</li>
                        <li>History & Structure of C.</li>
                        <li>Compile and Run Command.</li>
                        <li>Variable & Data Type.</li>
                        <li>Constant & Operator</li>
                        <li>Decision Making & Control Statement.</li>
                        <li>Local & Global Variable.</li>
                        <li>Loops (While, Do While & For)</li>
                        <li>Array (1D & 2D And Multi-Dimensional)</li>
                        <li>String</li>
                        <li>Function</li>
                    </ul>
                    <ul>
                        <li id="li1">C++ Language</li>
                        <li>Intro. of OOP</li>
                        <li>Declaration of Variable and Data Types.</li>
                        <li>C++ Character Function.</li>
                        <li>Control Statement and Array.</li>
                        <li>Info. of Class and Object.</li>
                        <li>Inheritance & Polymorphism.</li>
                        <li>Data Hiding & Encapsulation.</li>
                        <li>Overloading & Reusability.</li>
                        <li>Constructor & Destructor.</li>
                    </ul>
                    <ul>
                        <li id="li1">Java</li>
                        <li>Intro. to JAVA Programming</li>
                        <li>Fundamentals of Java</li>
                        <li>Looping and Iteration</li>
                        <li>Wrapper Class & CLA</li>
                        <li>Java Important Classes</li>
                        <li>Encapsulation</li>
                        <li>Inheritance</li>
                        <li>Abstraction</li>
                        <li>Polymorphism</li>
                        <li>Package</li>
                        <li>Exception Handling</li>
                    </ul>
                    <div class="course-box">
                        <p><b>LANGUAGES TO LEARN :</b></p>
                        <p>C, C++, JAVA</p>
                        <p><b>TIME DURATION :</b></p>
                        <p>2 Months</p>
                    </div>
                    <div class="apply-course">
                        <a href="#">Apply For This Module</a>
                    </div>
                    <div class="course-program" >
                        <h5>Core Android</h5>
                        <ul>
                            <li id="li1">Application development</li>
                            <li>App Development Using Java.</li>
                            <li>Introduction & Core Building Block.</li>
                            <li>UI Widgets like Textview, ImageView, Toast, ImageButton, Checkbox, and RadioButton.</li>
                            <li>Spinner and Dialog (Alert Dialog, Custom Dialog, Rating Dialog)</li>
                            <li>Listview, Webview, and Gridview.</li>
                            <li>Intent(Implicit and Explicit Intent).</li>
                            <li>How to Create Multiple Activity with Passing Data.</li>
                            <li>How to Create Splash Screen and Toolbar.</li>
                            <li>Advanced View(Carview, Circleimageview, and Library integration).</li>
                            <li>Image Loader Library(Glide, Piccaso, and Universal).</li>
                            <li>Menu(Options Menu) & Shared Preference.</li>
                            <li>Image Access (Camera & Gallery).</li>
                            <li>Recycler view with Model Class.</li>
                        </ul>
                        <div class="course-box">
                            <p><b>LANGUAGES TO LEARN :</b></p>
                            <p>Android Studio</p>
                            <p><b>TIME DURATION :</b></p>
                            <p>2 Months</p>
                            <p><b>PROJECTS :</b></p>
                            <p>1. Advance UI Maker </p>
                            <p>2. MobiApp </p>
                            <p>3. Simple Quotes App</p>
                        </div>
                        <div class="apply-course">
                            <a href="#">Apply For This Module</a>
                        </div>
                    </div>
                </div>
                <div class="course-program" >
                    <h5>Advance Android</h5>
                    <ul>
                        <li id="li1">Advance Android</li>
                        <li>App Internet Check and Gps Check.</li>
                        <li>Advance Dialog(Datepicker and Timepicker dialog).</li>
                        <li>Fragment(Static fragment and Dynamic fragment).</li>
                        <li>Simple Viewpager(Image Slider).</li>
                        <li>Tab layout(Viewpager with fragment).</li>
                        <li>Navigation Drawer(Default and Custom Navigation Drawer).</li>
                        <li>SQLite Database(Crud Operation).</li>
                        <li>External Database.</li>
                        <li>API Calling(JSON Parsing, Volley library, Get and Post Method).</li>
                        <li>Retrofit(API Calling Get & Post Method with Gson).</li>
                        <li>Firebase(Firebase Auth, Firebase Database, Firebase Storage).</li>
                        <li>Runtime Permission.</li>
                        <li>Social Media Integration(Facebook login and Gmail login).</li>
                        <li>Apk Generate(Build Apk, SignApk, Create js file, Create Bundle).</li>
                    </ul>
                    <ul>
                        <li id="li1">Kotlin</li>
                        <li>Introduction of Kotlin (Overview and Importance).</li>
                        <li>Data type, Constant & Variable.</li>
                        <li>Control Structure & Looping.</li>
                        <li>Function (Create a Function).</li>
                        <li>Class and Object</li>
                        <li>Android View.</li>
                        <li>All Events (Click Event, Long ClickEvent).</li>
                        <li>Recycler view with Model Class.</li>
                        <li>SQLite Database (Crud Operation).</li>
                        <li>Retrofit (Get and Post Method with Gson)</li>
                    </ul>
                    <ul>
                        <li id="li1">UI / UX Design</li>
                        <li>Adobe Figma</li>
                        <li>Introduction of Figma</li>
                        <li>Select, Rectangle, Ellipse, Line, Polygon & Text tools.</li>
                        <li>Pen Tool, Artboard Tool, Zoom Tool Appearance Option.</li>
                        <li>Clipping Mask, Repeat Grid, Scrolling Option Working with Assets and Layer, Grouping and Ungrouping</li>
                        <li>Using Adobe Figma Kits & Plugins.</li>
                        <li>Sharing your Adobe Figma Designs.</li>
                        <li>Viewing Design on Mobile.</li>
                    </ul>
                    <div class="course-box">
                        <p><b>LANGUAGES TO LEARN :</b></p>
                        <p>Android Studio</p>
                        <p><b>TIME DURATION :</b></p>
                        <p>4 Months</p>
                        <p><b>PROJECTS :</b></p>
                        <p>1. Budget Tracker</p>
                        <p>2. Best QuotesApp with Database.</p>
                        <p>3. All Photo Frame App</p>
                        <p>4. Chat view.</p>
                        <p>5. Build an Application UI on a Given Definition Using Design flow.</p>
                        <p>6. E-commerce app.</p>
                    </div>
                    <div class="apply-course">
                        <a href="#">Apply For This Module</a>
                    </div>
                </div>
                <div class="course-program" >
                    <h5>Aso & Earning & PHP API</h5>
                    <ul>
                        <li id="li1">Aso & Earning</li>
                        <li>Introduction of ASO</li>
                        <li>Difference between ASO & SEO.</li>
                        <li>Various Plugins.</li>
                        <li>How to create an account on Admob.</li>
                        <li>Admob with android studio.</li>
                        <li>Generate signed Apk & Proguard.</li>
                        <li>Facebook Ads.</li>
                        <li>Facebook Ads with Android Studio.</li>
                        <li>Keyword Optimization.</li>
                        <li>Keyword Planner.</li>
                        <li>Onpage Aso.</li>
                        <li>Offpage Aso.</li>
                        <li>Color Combination.</li>
                        <li>Google Ads.</li>
                        <li>Blogger.</li>
                        <li>Review Option..</li>
                        <li>How to Upload Apps in the Play store.</li>
                        <li>Grammar & Plagiarism Checker.</li>
                        <li>Upwork & Freelancer.</li>
                        <li>Application Reverse Engineering.</li>
                    </ul>
                    <ul>
                        <li id="li1">PHP API</li>
                        <li>Introduction of PHP & Server</li>
                        <li>File uploading in the server</li>
                        <li>Database Connectivity</li>
                        <li>CRUD operations</li>
                        <li>API Introduction</li>
                        <li>HTTP Request methods</li>
                        <li>User authentication APIs</li>
                        <li>CRUD APIs</li>
                        <li>Admin Panel management</li>
                        <li>Category and subcategory handling in DB</li>
                        <li>File uploading, alerts, and dialogs</li>
                        <li>Included in Career & Master Course</li>
                        <li id="li2">PD (Included)</li>
                        <li id="li2">Entrepreneur & Freelancing (Included)</li>
                    </ul>
                    <div class="course-box">
                        <p><b>LANGUAGES & SOFT. TO LEARN</b></p>
                        <p>Aso, PHP API</p>
                        <p><b>TIME DURATION :</b></p>
                        <p>4 Months</p>
                        <p><b>PROJECTS :</b></p>
                        <p>1. Create an Account in the Play store</p>
                        <p>2. Application Marketing with Adwords.</p>
                    </div>
                    <div class="apply-course">
                        <a href="#">Apply For This Module</a>
                    </div>
                </div>
                <div class="course-program">
                    <h5>Android Development Course Overview</h5>
                    <div class="course-details">
                        <h6>We Are Only One ATC Authorised Training Provider In Gujarat.</h6>
                        <p>We offer job Support after completing the course.
    
                            In Gujarat, <b>AII</b> is only one Android ATC Authorized Training Provider
                             so that Students can get the maximum benefit of the latest 
                             curriculum in android technology. This course is designed to meet 
                             all levels of student requirements. Our Android trainer understands
                              the actual need of the fresher student to be professional. Our 
                              trainer will ensure a complete understanding of every concept 
                              included in the course because of listening and solving student's
                               doubts individually.
                        </p>
    
                        <h6>Best Android Training Institute In Surat</h6>
                        <p><b>AII</b> technologies mainly focus on the present scope of the android app 
                            and real-time requirements.
    
                            Real-time needs and the current Android app scope are the primary 
                            areas of attention for <b>AII</b> Institute. Your skill with programming 
                            will increase with each module part. Real-time efforts, such as the 
                            creation of several real-world apps, will be done. You'll get hired 
                            after finishing the course completely. We also offer Angular JS 
                            course in Surat which is very popular and in-demand course today.
                        </p>
    
                        <h6>What Are The requirements For Android Development Course?</h6>
                        <p>Basic knowledge of computers is good to start learning, and you 
                            don't need any degree or diploma to secure a job. Nowadays, 
                            companies are not specifically asking for a degree or 
                            certificate.
                        </p>
    
                        <h6>Other Benefits Of Learning Android Development Are:</h6>
                        <p>High user base <br>
    
                            The mobile app industry is growing regarding the vast user base, symbolising this system's influence. <br><br>
                            
                            Cross-Platform Compatibility <br>
                            
                            Android platform offers developers a chance for developmental research in partnership with other media. <br><br>
                            
                            Significant for brand building <br>
                            
                            Without the aid of a website designer and a developer, no brand can grow. The simple way is to use 
                            these websites with technological advancement, which makes it possible for more people to know 
                            about various brands. For every business searching for a web designer or developer with talents, 
                            you must take web design course in Ahmedabad.<br><br>
                            
                            Flexibility <br>
                            
                            Android has no developmental condition like the iOS platform, and Android is highly flexible to 
                            go after many developmental capabilities. <br><br>
                            
                            High demand for Android developers <br>
                            
                            Software companies are looking for mobile apps, and software firms are turning to mobile app 
                            development. This growing situation has increased the demand for aspect Android developers. <br><br>
                            
                            Easy Accessibility <br>
                            
                            A developer can use the Android open-source platform anywhere or anytime through a system, 
                            device, and internet connection. <br><br>
                            
                            High Earning Potential <br>
                            
                            Developers can develop an android app for a business company with a software firm or work 
                            from home by creating a mobile application. <br><br>
                            
                            </p>
                            <div class="apply-course">
                                <a href="#">Apply Now For The Full Course</a>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="android-image">
            <img src="image/ANDROID-APP-DEVELOPMENT-USING-CORE-JAVA.jpg" alt="">
        </div>
    </div>
</div>