<% layout("/layout/boilerplate.ejs") %>
<br><br>
<div class="job-container">
    <img src="image/All_India_Institute.png">
    <form action="">
        <br>
        <label>Email :</label>
        <input type="email" name="email" placeholder="Enter Your Email ID"><br><br>
        <label>Mobile :</label>
        <input type="number" name="number" placeholder="Enter Your Mobile Number"><br><br>
        <span>By Submitting Details we will Contact you in Next 24 hours.</span>
        <input type="submit" value="Submit">
    </form>
</div>
<br>