<% layout("/layout/boilerplate.ejs") %>
<div class="courses-container">
    <h3>Carrer Courses</h3>
    <div class="courses">
        <div class="course1">
            <h4>Application Development</h4>
            <hr>
            <p><a href="\android-course">Android Development</a></p>
            <p><a href="\flutter-course">Flutter Development</a></p>
            <p><a href="#">IOS Development</a></p>
            <p><a href="#">ASP.net Development</a></p>
            <p><a href="#">React Native Development</a></p>
            <div class="inner-course">
                <h4>Website Development</h4>
                <hr>
                <p><a href="#">Frontend Development</a></p>
                <p><a href="#">Backend Development</a></p>
                <p><a href="#">MERN Stack Development</a></p>
                <p><a href="#">Full Stack Development</a></p>
            </div>
            <div class="inner-course">
                <h4>Designing</h4>
                <hr>
                <p><a href="#">Graphic Designing</a></p>
                <p><a href="#">Video Editing</a></p>
                <p><a href="#">Photo editing</a></p>
                <p><a href="#">3D Animation</a></p>
                <p><a href="#">2D Animation</a></p>
                <p><a href="#">Web Designing</a></p>
                <p><a href="#">UI/UX Designing</a></p>
            </div>
        </div>
        <!-- <div class="course-1">
            <h4>Identification</h4>
            <hr>
            <p><a href="\gim-course">GIM (Graduate in Multimedia)</a></p>
            <div class="inner-course">
                <h4>Designing</h4>
                <hr>
                <p><a href="">Master in Graphic Design</a></p>
                <p><a href="">UI/UX & Graphic Design Course</a></p>
            </div>
        </div> -->
        <div class="course-1">
            <h4>Languages</h4>
            <hr>
            <p><a href="#">Python</a></p>
            <p><a href="#">C Programming</a></p>
            <p><a href="#">C++</a></p>
            <p><a href="#">Java</a></p>
            <p><a href="">HTML</a></p>
            <p><a href="#">CSS</a></p>
            <p><a href="#">JavaScript</a></p>
            <p><a href="#">React js</a></p>
            <p><a href="#">Node js</a></p>
            <p><a href="#">Angular js</a></p>
            <p><a href="#">JQuery</a></p>
            <p><a href="#">Django</a></p>
            <p><a href="#">Flask</a></p>
            <p><a href="#">Laravel</a></p>
            <p><a href="#">SQL</a></p>
            <p><a href="#">PHP</a></p>
            <p><a href="#">Dart</a></p>
            <p><a href="#">React Native</a></p>
            <p><a href="#">Bootstrap</a></p>
            <p><a href="#">TailWind</a></p>
            <p><a href="#">Kotlin</a></p>
            <p><a href="#">C#</a></p>
        </div>
        <div class="course-1">
            <h4>Oriented Course</h4>
            <hr>
            <p><a href="#">Git and Github</a></p>
            <p><a href="#">Linux</a></p>
            <p><a href="#">DevOps</a></p>
            <p><a href="#">SEO</a></p>
            <p><a href="#">Computer hardware</a></p>
            <p><a href="#">Wordpress</a></p>
            <div class="course-1">
                <h4>Other Course</h4>
                <hr>
                <p><a href="#">Spoken English</a></p>
                <p><a href="#">Personality Development</a></p>
                <p><a href="#">Corporate English</a></p>
                <p><a href="#">Soft Skills</a></p>
            </div>
            <div class="course-1">
                <h4>Software Base Course</h4>
                <hr>
                <p><a href="#">Photoshop</a></p>
                <p><a href="#">Corel Draw</a></p>
                <p><a href="#">Premier Pro</a></p>
                <p><a href="#">Adobe illustrator</a></p>
                <p><a href="#">After Effect</a></p>
                <p><a href="#">Maya Pro/ 3Ds Max Pro</a></p>
                <p><a href="#">Blender 3D Design</a></p>
                <p><a href="#">Figma</a></p>
            </div>
        </div>
        <div class="course-1">
            <h4>Short Term Course (Basic)</h4>
            <hr>
            <p><a href="#">CCC</a></p>
            <p><a href="#">Tally Prime</a></p>
            <p><a href="#">Microsoft Office</a></p>
            <p><a href="#">Google Docs</a></p>
            <p><a href="#">Google Sheet</a></p>
            <p><a href="#">Computer Hardware</a></p>
            <div class="course-1">
                <h4>DataBase</h4>
                <hr>
                <p><a href="#">MySQL</a></p>
                <p><a href="#">Oracle SQL</a></p>
                <p><a href="#">Mongo Db</a></p>
                <p><a href="#">MS SQL</a></p>
                <p><a href="#">Maria Db</a></p>
                <p><a href="#">Microsoft Access</a></p>
                <p><a href="#">SQLite</a></p>
            </div>
            <div class="course-1">
                <h4>Marketing</h4>
                <hr>
                <p><a href="#">Social Media Marketing</a></p>
                <p><a href="#">Digital Marketing</a></p>
                <p><a href="#">Linkedin Marketing</a></p>
                <p><a href="#">Instagram Marketing</a></p>
                <p><a href="#">Google My Business</a></p>
                <p><a href="#">Google Analytics</a></p>
                <p><a href="#">Google Search Console</a></p>
                <p><a href="#">Facebook Marketing
                </a></p>
            </div>
        </div>
    </div>
</div>
<br>