<% layout("/layout/boilerplate.ejs") %>
<div class="cr-1">
    <div class="carrer-content">
        <span class="span-1">B.Com</span><br>
        <span>
            A Bachelor of Commerce is an undergraduate degree in business, management, economics or accounting
        </span>
    </div>
    <!-- <span class="middle-1">WHAT AFTER</span> -->
    <!-- <br> -->
    <!-- <span class="middle-2">12<sup>th</sup>?</span> -->
    <div class="carrer-content2">
        <span class="span-1">BCA</span><br>
        <span class="span-2">
            BCA degree can open up a variety of global career options like System engineer, Web developer, System Administrator, Software developer Programmer and many more
        </span>
    </div>
</div>


    