<% layout("/layout/boilerplate.ejs") %>
<div class="cr-flex">
    <div class="cr-1">
        <div class="carrer-content">
            <i class="fa-solid fa-calculator"></i>
            <br>
            <span class="span-1">B.Com</span><br>
            <span>
                A Bachelor of Commerce is an undergraduate degree in business, management, economics or accounting
            </span>
        </div>
        <div class="carrer-content"> 
            <i class="fa-solid fa-users"></i>
            <br>
            <span class="span-1">BBA</span><br>
            <span>
                Bachelor of Business Administration and is one of the most common degrees in business education
            </span>
        </div> 
    </div>
    <div class="carrer-center">
        <span class="middle-1">WHAT AFTER</span><br>
        <span class="middle-2">12th?</span>
    </div>
    <div class="cr-1">
        <div class="carrer-content2">
            <i class="fa-solid fa-laptop-code"></i>
            <br>
            <span class="span-1">BCA</span><br>
            <span class="span-2">
                BCA degree can open up a variety of global career options like System engineer, Web developer, System Administrator, Software developer Programmer and many more
            </span>
        </div>
        <div class="carrer-content2">
            <i class="fa-solid fa-laptop-code"></i>
            <br>
            <span class="span-1">BSc.IT</span><br>
            <span>
                The full form of BSc IT is a Bachelor of Science in Information Technology. BSc IT is a bachelor's degree awarded for an undergraduate course in the Information Technology field.
            </span>
        </div>
    </div>
</div>

<div class="cr-2">
    <div class="cr-2-1">
        <img src="image/m-tech-full-form-1.png" class="img1">
        <span class="cr-head">
            What is
            MII ?
        </span>
        <hr width="640px"/>
        <p class="cr-body">
            Students undertake an industrial project, providing hands-on experience aligned with their studies. Individual counseling sessions are conducted to address exam-related queries and share insights gained from practical experiences over the three-month period.
        </p>
    </div>
    <div class="cr-2-1 ">
        <img src="image/BMT_Landing_Page_Header_1200x500_FINAL-2-1024x427.jpg" class="img2">
        <div class="cr-right">
            <span class="cr-head">
                What is
                B.MAT ?
            </span>
            <hr width="640px"/>
            <p class="cr-body ">
                B.Com and BBA degrees equip students with versatile skills in accounting, marketing, and HR/Business Development. Graduates can pursue rewarding careers in various industries, leveraging their diverse skill set and practical knowledge gained through B.MAT courses.
            </p> 
        </div>
    </div>
</div>