<% layout("/layout/boilerplate.ejs") %>
<div class="courses-container">
    <h3>Carrer Courses</h3>
    <div class="courses">
        <div class="coding-courses">
            <h4>Coding & Programming</h4>
            <hr>
            <p><a href="">Master in Web Designing</a></p>
            <p><a href="">Master in Front End Developing</a></p>
            <p><a href="">Master in Web Development</a></p>
            <p><a href="">Master in Android Development</a></p>
            <p><a href="">Master in iOS Development</a></p>
            <p><a href="">Master in Game Development</a></p>
            <p><a href="">Master in Flutter</a></p>
            <p><a href="">Advance in Python</a></p>
            <p><a href="">Full Stack Development</a></p>
        </div>
        <div class="course-1">
            <h4>Identification</h4>
            <hr>
            <p><a href="\gim-course">GIM (Graduate in Multimedia)</a></p>
        </div>
        <div class="course-2">
            <h4>Designing</h4>
            <hr>
            <p><a href="">Master in Graphic Design</a></p>
            <p><a href="">UI/UX & Graphic Design Course</a></p>
            <p><a href="">Master in Game Design</a></p>
        </div>
        <div class="course-3">
            <h4>Visualization</h4>
            <hr>
            <p><a href="">Master in Animation</a></p>
            <p><a href="">Animation & VFX 2 year</a></p>
        </div>
    </div>
</div>
<br>