<% layout("/layout/boilerplate.ejs") %>
<br>
<div class="contact-container">
    <h2>CONTACT US</h2>
    <div class="contact-content">
        <form action="/home"  method="">
            <fieldset>
                <label>Name : </label><br>
                <input type="text" name="name" placeholder="Input Your Name"><br><br>
                <label>Email : </label><br>
                <input type="email" name="email" placeholder="Input Your Email"><br><br>
                <label>Phone No. : </label><br>
                <input type="number" name="number" placeholder="Input Your Number"><br><br>
                <button type="submit" id="btn1">Submit</button>
            </fieldset>
        </form>
    </div>
    <br>
</div>