<% layout("/layout/boilerplate.ejs") %>

<div class="gim-container">
    <h3>Why do students not get jobs even after college or higher education?</h3><br>
    <h4>There are two reasons for that </h4>
    <br>
    <div class="content">
        <div class="content-gim-1">
            <img src="image/gim-1.png" class="gim-image1"><br>
            <span>Lack of skill based on education in school and college</span>
        </div>
        <div class="content-gim-2">
            <img src="image/gim-2.png" class="gim-image2"><br>
            <span>Choice of course with the interest of inner strength and skill of students</span>
        </div>
    </div><br>
    <div class="gim-2">
        <h4></h4>
    </div>
</div>
What is graduation in multimedia?
BA Multimedia or Bachelor of Arts in Multimedia is an undergraduate degree of 3 years duration, specializing in the field of multimedia and further branching out in sub disciplines such as animation, scripts writing, producing and gaming visual expertise.