<!DOCTYPE html>
<html>
    <head>
        <title>All India Institute</title>
    </head>
    <body>
        <div class="header">
            <%- include('header.ejs') %>
        </div>
        <div class="body">
            <%- include('body.ejs') %>
        </div>
        <div class="header">
            <%- include('footer.ejs') %>
        </div>
    </body>
</html>