<% layout("/layout/boilerplate.ejs") %>
<br><br>
<div class="student-container">
    <h2>Student Site</h2>
    <div class="student-box">
        <ul>
            <a href="\apply-for-job"><li>Apply For Job</li></a>
            <a href=""><li>Placement</li></a>
            <a href="\grievance"><li>Grievance</li></a>
            <a href="\student-works"><li>Student Works</li></a>
        </ul>
    </div>
</div>
<br>