<% layout("/layout/boilerplate.ejs") %>
<br><br>
<div class="work-container">
    <h3>About Student Work</h3>
    <p>Do you know that our students have the talent to do so well? Did you know
        that our students swim differently than other institutes? So you have to
        be like this, or why? So let me tell you a little about them. Our 
        students are gaining expertise in any of these institutes when students
        from another institute need to prepare this way. Because our teacher 
        friends give students good and always something new, our students 
        must be ahead. Our students are always learning something new to gain
        something new. So now let us look at the work of our students, which
        is the job of the student of the interior of our institute, the
        result of gaming, etc. Here is a demo of such works.
    </p>
    <div class="course-links">
        <a href="#web-design">Web Design</a>
        <a href="#ui-ux-design">UI\UX Design</a>
    </div>
    <div class="course-designs" id="web-design">
        <h5>Web Design</h5>
    </div><br>
    <div class="all-designs">
        <div class="design1">
            <img src="image/web-1.jpg">
            <img src="image/web-4.jpg">
            <img src="image/web-7.jpg">
            <img src="image/web-10.jpg">
            <img src="image/web-12.jpg">
        </div>
        <div class="design2">
            <img src="image/web-2.jpg">
            <img src="image/web-5.jpg">
            <img src="image/web-8.jpg">
        </div>
        <div class="design3">
            <img src="image/web-3.jpg">
            <img src="image/web-6.jpg">
            <img src="image/web-9.jpg">
            <img src="image/web-11.jpg">
        </div>
    </div>
    <div class="course-designs" id="ui-ux-design">
        <h5>UI\UX Design</h5>
    </div><br>
    <div class="all-designs">
        <div class="design1">
            <img src="image/ui-ux-1.jpg">
            <img src="image/ui-ux-4.jpg">
            <img src="image/ui-ux-7.jpg">
            <img src="image/ui-ux-10.jpg">
            <img src="image/ui-ux-13.jpg">
            <img src="image/ui-ux-16.jpg">
            <img src="image/ui-ux-19.jpg">
            <img src="image/ui-ux-22.jpg">
            <img src="image/ui-ux-25.jpg">
        </div>
        <div class="design2">
            <img src="image/ui-ux-2.jpg">
            <img src="image/ui-ux-5.jpg">
            <img src="image/ui-ux-8.jpg">
            <img src="image/ui-ux-11.jpg">
            <img src="image/ui-ux-14.jpg">
            <img src="image/ui-ux-17.jpg">
            <img src="image/ui-ux-20.jpg">
            <img src="image/ui-ux-23.jpg">
            <img src="image/ui-ux-26.jpg">
        </div>
        <div class="design3">
            <img src="image/ui-ux-3.jpg">
            <img src="image/ui-ux-6.jpg">
            <img src="image/ui-ux-9.jpg">
            <img src="image/ui-ux-12.jpg">
            <img src="image/ui-ux-15.jpg">
            <img src="image/ui-ux-18.jpg">
            <img src="image/ui-ux-21.jpg">
            <img src="image/ui-ux-24.jpg">
            <img src="image/ui-ux-27.jpg">
        </div>
    </div>
</div>